.global-theme {
          --colors-blue-blue-900: #15234d;
  --colors-blue-blue-100: #ecf1ff;
  --colors-blue-blue-200: #d1dcff;
  --colors-blue-blue-300: #b5c7ff;
  --colors-blue-blue-400: #7d9dff;
  --colors-blue-blue-500: #4573ff;
  --colors-blue-blue-600: #3e68e6;
  --colors-blue-blue-700: #294599;
  --colors-blue-blue-800: #1f3473;
  --colors-green-green-900: #003e2e;
  --colors-green-green-100: #e6faf5;
  --colors-green-green-200: #bff3e6;
  --colors-green-green-300: #99ecd6;
  --colors-green-green-400: #4dddb8;
  --colors-green-green-500: #00cf99;
  --colors-green-green-600: #00ba8a;
  --colors-green-green-700: #007c5c;
  --colors-green-green-800: #005d45;
  --colors-gray-gray-900: #3d3d3d;
  --colors-gray-gray-100: #fafafa;
  --colors-gray-gray-200: #f2f2f2;
  --colors-gray-gray-300: #ebebeb;
  --colors-gray-gray-400: #dbdbdb;
  --colors-gray-gray-500: #cccccc;
  --colors-gray-gray-600: #b8b8b8;
  --colors-gray-gray-700: #7a7a7a;
  --colors-gray-gray-800: #5c5c5c;
  --colors-black-black-100: #ececec;
  --colors-black-black-200: #cfcfcf;
  --colors-black-black-300: #b1b1b1;
  --colors-black-black-400: #777777;
  --colors-black-black-500: #3d3d3d;
  --colors-black-black-600: #373737;
  --colors-black-black-700: #252525;
  --colors-black-black-800: #1b1b1b;
  --colors-black-black-900: #121212;
  --colors-yellow-yellow-900: #4d3903;
  --colors-yellow-yellow-100: #fff9e7;
  --colors-yellow-yellow-200: #ffefc2;
  --colors-yellow-yellow-300: #ffe59d;
  --colors-yellow-yellow-400: #ffd254;
  --colors-yellow-yellow-500: #ffbe0b;
  --colors-yellow-yellow-600: #e6ab0a;
  --colors-yellow-yellow-700: #997207;
  --colors-yellow-yellow-800: #735605;
  --colors-orange-orange-900: #4b1a02;
  --colors-orange-orange-100: #ffeee6;
  --colors-orange-orange-200: #fed5c1;
  --colors-orange-orange-300: #fdbb9c;
  --colors-orange-orange-400: #fc8951;
  --colors-orange-orange-500: #fb5607;
  --colors-orange-orange-600: #e24d06;
  --colors-orange-orange-700: #973404;
  --colors-orange-orange-800: #712703;
  --colors-red-red-900: #46161a;
  --colors-red-red-100: #fdedee;
  --colors-red-red-200: #f9d1d5;
  --colors-red-red-300: #f6b6bb;
  --colors-red-red-400: #ef7f88;
  --colors-red-red-500: #e84855;
  --colors-red-red-600: #d1414d;
  --colors-red-red-700: #8b2b33;
  --colors-red-red-800: #682026;
  --colors-pink-pink-900: #46162a;
  --colors-pink-pink-100: #fdedf3;
  --colors-pink-pink-200: #f9d1e2;
  --colors-pink-pink-300: #f6b6d1;
  --colors-pink-pink-400: #ef7fae;
  --colors-pink-pink-500: #e8488b;
  --colors-pink-pink-600: #d1417d;
  --colors-pink-pink-700: #8b2b53;
  --colors-pink-pink-800: #68203f;
  --colors-purple-purple-900: #1e1143;
  --colors-purple-purple-100: #efebfc;
  --colors-purple-purple-200: #d8cdf7;
  --colors-purple-purple-300: #c1aff3;
  --colors-purple-purple-400: #9273e9;
  --colors-purple-purple-500: #6337e0;
  --colors-purple-purple-600: #5932ca;
  --colors-purple-purple-700: #3b2186;
  --colors-purple-purple-800: #2d1965;
  --colors-prussian-prussian-900: #0d1735;
  --colors-prussian-prussian-100: #eaedf7;
  --colors-prussian-prussian-200: #cad3ec;
  --colors-prussian-prussian-300: #abb8e0;
  --colors-prussian-prussian-400: #6b82c8;
  --colors-prussian-prussian-500: #2c4db1;
  --colors-prussian-prussian-600: #28459f;
  --colors-prussian-prussian-700: #1a2e6a;
  --colors-prussian-prussian-800: #142350;
  --colors-sky-sky-900: #153e4d;
  --colors-sky-sky-100: #ecfaff;
  --colors-sky-sky-200: #d1f3ff;
  --colors-sky-sky-300: #b5ecff;
  --colors-sky-sky-400: #7ddeff;
  --colors-sky-sky-500: #45d0ff;
  --colors-sky-sky-600: #3ebbe6;
  --colors-sky-sky-700: #297d99;
  --colors-sky-sky-800: #1f5e73;
  --colors-teal-teal-900: #13383b;
  --colors-teal-teal-100: #ecf8f9;
  --colors-teal-teal-200: #cfeef1;
  --colors-teal-teal-300: #b3e3e8;
  --colors-teal-teal-400: #79cfd7;
  --colors-teal-teal-500: #40bac6;
  --colors-teal-teal-600: #3aa7b2;
  --colors-teal-teal-700: #267077;
  --colors-teal-teal-800: #1d5459;
      }