.global-theme {
          --colors-black: #171717;
  --colors-white: #ffffff;
  --colors-red-50: #FFF5F7;
  --colors-red-100: #fce8ec;
  --colors-red-200: #f9d0d9;
  --colors-red-300: #f2a2b3;
  --colors-red-400: #e95c7b;
  --colors-red-500: #df1642;
  --colors-red-600: #9c0f2e;
  --colors-red-700: #59091a;
  --colors-red-800: #2d040d;
  --colors-red-900: #160207;
  --colors-red-950: #100105;
  --colors-blue-50: #eceefe;
  --colors-blue-100: #d8ddfd;
  --colors-blue-200: #b1bafb;
  --colors-blue-300: #8b98f9;
  --colors-blue-400: #6475f7;
  --colors-blue-500: #3d53f5;
  --colors-blue-600: #3142c4;
  --colors-blue-700: #253293;
  --colors-blue-800: #182162;
  --colors-blue-900: #0c1131;
  --colors-blue-950: #060818;
  --colors-grey-50: #fcfcfc;
  --colors-grey-100: #f5f5f5;
  --colors-grey-200: #eeeeee;
  --colors-grey-300: #e0e0e0;
  --colors-grey-400: #bdbdbd;
  --colors-grey-500: #9e9e9e;
  --colors-grey-600: #757575;
  --colors-grey-700: #616161;
  --colors-grey-800: #424242;
  --colors-grey-900: #323232;
  --colors-grey-950: #212121;
  --global-colors-black-100: #ececec;
  --global-colors-black-200: #cfcfcf;
  --global-colors-black-300: #b1b1b1;
  --global-colors-black-400: #777777;
  --global-colors-black-500: #3d3d3d;
  --global-colors-black-600: #373737;
  --global-colors-black-700: #252525;
  --global-colors-black-800: #1b1b1b;
  --global-colors-black-900: #121212;
  --global-colors-blue-100: #ecf1ff;
  --global-colors-blue-200: #d1dcff;
  --global-colors-blue-300: #b5c7ff;
  --global-colors-blue-400: #7d9dff;
  --global-colors-blue-500: #4573ff;
  --global-colors-blue-600: #3e68e6;
  --global-colors-blue-700: #294599;
  --global-colors-blue-800: #1f3473;
  --global-colors-blue-900: #15234d;
  --global-colors-gray-100: #fafafa;
  --global-colors-gray-200: #f2f2f2;
  --global-colors-gray-300: #ebebeb;
  --global-colors-gray-400: #dbdbdb;
  --global-colors-gray-500: #cccccc;
  --global-colors-gray-600: #b8b8b8;
  --global-colors-gray-700: #7a7a7a;
  --global-colors-gray-800: #5c5c5c;
  --global-colors-gray-900: #3d3d3d;
  --global-colors-green-100: #e6faf5;
  --global-colors-green-200: #bff3e6;
  --global-colors-green-300: #99ecd6;
  --global-colors-green-400: #4dddb8;
  --global-colors-green-500: #00cf99;
  --global-colors-green-600: #00ba8a;
  --global-colors-green-700: #007c5c;
  --global-colors-green-800: #005d45;
  --global-colors-green-900: #003e2e;
  --global-colors-orange-100: #ffeee6;
  --global-colors-orange-200: #fed5c1;
  --global-colors-orange-300: #fdbb9c;
  --global-colors-orange-400: #fc8951;
  --global-colors-orange-500: #fb5607;
  --global-colors-orange-600: #e24d06;
  --global-colors-orange-700: #973404;
  --global-colors-orange-800: #712703;
  --global-colors-orange-900: #4b1a02;
  --global-colors-pink-100: #fdedf3;
  --global-colors-pink-200: #f9d1e2;
  --global-colors-pink-300: #f6b6d1;
  --global-colors-pink-400: #ef7fae;
  --global-colors-pink-500: #e8488b;
  --global-colors-pink-600: #d1417d;
  --global-colors-pink-700: #8b2b53;
  --global-colors-pink-800: #68203f;
  --global-colors-pink-900: #46162a;
  --global-colors-prussian-100: #eaedf7;
  --global-colors-prussian-200: #cad3ec;
  --global-colors-prussian-300: #abb8e0;
  --global-colors-prussian-400: #6b82c8;
  --global-colors-prussian-500: #2c4db1;
  --global-colors-prussian-600: #28459f;
  --global-colors-prussian-700: #1a2e6a;
  --global-colors-prussian-800: #142350;
  --global-colors-prussian-900: #0d1735;
  --global-colors-purple-100: #efebfc;
  --global-colors-purple-200: #d8cdf7;
  --global-colors-purple-300: #c1aff3;
  --global-colors-purple-400: #9273e9;
  --global-colors-purple-500: #6337e0;
  --global-colors-purple-600: #5932ca;
  --global-colors-purple-700: #3b2186;
  --global-colors-purple-800: #2d1965;
  --global-colors-purple-900: #1e1143;
  --global-colors-red-100: #fdedee;
  --global-colors-red-200: #f9d1d5;
  --global-colors-red-300: #f6b6bb;
  --global-colors-red-400: #ef7f88;
  --global-colors-red-500: #e84855;
  --global-colors-red-600: #d1414d;
  --global-colors-red-700: #8b2b33;
  --global-colors-red-800: #682026;
  --global-colors-red-900: #46161a;
  --global-colors-sky-100: #ecfaff;
  --global-colors-sky-200: #d1f3ff;
  --global-colors-sky-300: #b5ecff;
  --global-colors-sky-400: #7ddeff;
  --global-colors-sky-500: #45d0ff;
  --global-colors-sky-600: #3ebbe6;
  --global-colors-sky-700: #297d99;
  --global-colors-sky-800: #1f5e73;
  --global-colors-sky-900: #153e4d;
  --global-colors-teal-100: #ecf8f9;
  --global-colors-teal-200: #cfeef1;
  --global-colors-teal-300: #b3e3e8;
  --global-colors-teal-400: #79cfd7;
  --global-colors-teal-500: #40bac6;
  --global-colors-teal-600: #3aa7b2;
  --global-colors-teal-700: #267077;
  --global-colors-teal-800: #1d5459;
  --global-colors-teal-900: #13383b;
  --global-colors-yellow-100: #fff9e7;
  --global-colors-yellow-200: #ffefc2;
  --global-colors-yellow-300: #ffe59d;
  --global-colors-yellow-400: #ffd254;
  --global-colors-yellow-500: #ffbe0b;
  --global-colors-yellow-600: #e6ab0a;
  --global-colors-yellow-700: #997207;
  --global-colors-yellow-800: #735605;
  --global-colors-yellow-900: #4d3903;
      }