.global-theme {
          --xen-blue-100: #ecf1ff;
  --xen-blue-200: #d1dcff;
  --xen-blue-300: #b5c7ff;
  --xen-blue-400: #7d9dff;
  --xen-blue-500: #4573ff;
  --xen-blue-600: #3e68e6;
  --xen-blue-700: #294599;
  --xen-blue-800: #1f3473;
  --xen-blue-900: #15234d;
  --xen-green-100: #e6faf5;
  --xen-green-200: #bff3e6;
  --xen-green-300: #99ecd6;
  --xen-green-400: #4dddb8;
  --xen-green-500: #00cf99;
  --xen-green-600: #00ba8a;
  --xen-green-700: #007c5c;
  --xen-green-800: #005d45;
  --xen-green-900: #003e2e;
  --xen-gray-100: #fafafa;
  --xen-gray-200: #f2f2f2;
  --xen-gray-300: #ebebeb;
  --xen-gray-400: #dbdbdb;
  --xen-gray-500: #cccccc;
  --xen-gray-600: #b8b8b8;
  --xen-gray-700: #7a7a7a;
  --xen-gray-800: #5c5c5c;
  --xen-gray-900: #3d3d3d;
  --xen-dark-gray-100: #ececec;
  --xen-dark-gray-200: #cfcfcf;
  --xen-dark-gray-300: #b1b1b1;
  --xen-dark-gray-400: #777777;
  --xen-dark-gray-500: #3d3d3d;
  --xen-dark-gray-600: #373737;
  --xen-dark-gray-700: #252525;
  --xen-dark-gray-800: #1b1b1b;
  --xen-dark-gray-900: #121212;
  --xen-yellow-100: #fff9e7;
  --xen-yellow-200: #ffefc2;
  --xen-yellow-300: #ffe59d;
  --xen-yellow-400: #ffd254;
  --xen-yellow-500: #ffbe0b;
  --xen-yellow-600: #e6ab0a;
  --xen-yellow-700: #997207;
  --xen-yellow-800: #735605;
  --xen-yellow-900: #4d3903;
  --xen-orange-100: #ffeee6;
  --xen-orange-200: #fed5c1;
  --xen-orange-300: #fdbb9c;
  --xen-orange-400: #fc8951;
  --xen-orange-500: #fb5607;
  --xen-orange-600: #e24d06;
  --xen-orange-700: #973404;
  --xen-orange-800: #712703;
  --xen-orange-900: #4b1a02;
  --xen-red-100: #fdedee;
  --xen-red-200: #f9d1d5;
  --xen-red-300: #f6b6bb;
  --xen-red-400: #ef7f88;
  --xen-red-500: #e84855;
  --xen-red-600: #d1414d;
  --xen-red-700: #8b2b33;
  --xen-red-800: #682026;
  --xen-red-900: #46161a;
  --xen-pink-100: #fdedf3;
  --xen-pink-200: #f9d1e2;
  --xen-pink-300: #f6b6d1;
  --xen-pink-400: #ef7fae;
  --xen-pink-500: #e8488b;
  --xen-pink-600: #d1417d;
  --xen-pink-700: #8b2b53;
  --xen-pink-800: #68203f;
  --xen-pink-900: #46162a;
  --xen-purple-100: #efebfc;
  --xen-purple-200: #d8cdf7;
  --xen-purple-300: #c1aff3;
  --xen-purple-400: #9273e9;
  --xen-purple-500: #6337e0;
  --xen-purple-600: #5932ca;
  --xen-purple-700: #3b2186;
  --xen-purple-800: #2d1965;
  --xen-purple-900: #1e1143;
  --xen-prussian-100: #eaedf7;
  --xen-prussian-200: #cad3ec;
  --xen-prussian-300: #abb8e0;
  --xen-prussian-400: #6b82c8;
  --xen-prussian-500: #2c4db1;
  --xen-prussian-600: #28459f;
  --xen-prussian-700: #1a2e6a;
  --xen-prussian-800: #142350;
  --xen-prussian-900: #0d1735;
  --xen-sky-100: #ecfaff;
  --xen-sky-200: #d1f3ff;
  --xen-sky-300: #b5ecff;
  --xen-sky-400: #7ddeff;
  --xen-sky-500: #45d0ff;
  --xen-sky-600: #3ebbe6;
  --xen-sky-700: #297d99;
  --xen-sky-800: #1f5e73;
  --xen-sky-900: #153e4d;
  --xen-teal-100: #ecf8f9;
  --xen-teal-200: #cfeef1;
  --xen-teal-300: #b3e3e8;
  --xen-teal-400: #79cfd7;
  --xen-teal-500: #40bac6;
  --xen-teal-600: #3aa7b2;
  --xen-teal-700: #267077;
  --xen-teal-800: #1d5459;
  --xen-teal-900: #13383b;
  --xen-white: #ffffff;
  --xen-black: #000000;
  --font-families-open-sans: Open Sans;
  --line-heights-0: 56;
  --line-heights-1: 48;
  --line-heights-2: 40;
  --font-weights-open-sans-0: SemiBold;
  --font-size-0: 30px;
  --font-size-1: 38px;
  --font-size-2: 46px;
  --letter-spacing-0: 0;
  --letter-spacing-1: 0.25;
  --letter-spacing-2: 0.15;
  --paragraph-spacing-0: 0;
  --heading-1: [object Object];
  --heading-2: [object Object];
  --heading-3: [object Object];
  --text-case-none: none;
  --text-decoration-none: none;
      }