.light-theme {
          --bg-default: #ffffff;
  --bg-subtle: #f2f2f2;
  --bg-disabled: #f2f2f2;
  --bg-inverse: #252525;
  --bg-interactive: #ecf1ff;
  --bg-informative: #ecfaff;
  --bg-success: #e6faf5;
  --bg-warning: #fff9e7;
  --bg-critical: #fdedee;
  --fg-default: #252525;
  --fg-subtle: #777777;
  --fg-disabled: #b1b1b1;
  --fg-inverse: #ffffff;
  --fg-interactive: #4573ff;
  --fg-informative: #297d99;
  --fg-success: #007c5c;
  --fg-warning: #997207;
  --fg-critical: #d1414d;
  --border-default: #b1b1b1;
  --border-subtle: #cccccc;
  --border-disabled: #777777;
  --border-inverse: #7a7a7a;
  --border-interactive: #b5c7ff;
  --border-informative: #b5ecff;
  --border-success: #99ecd6;
  --border-warning: #ffe59d;
  --border-critical: #f6b6bb;
  --state-focused: [object Object];
  --state-error: [object Object];
      }